<!DOCTYPE html>
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Startcss
        link(rel="stylesheet", href="/css/startcss.css")
        block head
    body
        block body
        
        block footer
            footer.footer
                h2 Footer
        script(src="/js/main.js")    
        block script
            