extends layouts/main.pug
block body
    main
        h1 Typography
    section
        h2 Heading
        hr
        h1 The quick brown fox jumps over the lazy dog
        h2 The quick brown fox jumps over the lazy dog
        h3 The quick brown fox jumps over the lazy dog
        h4 The quick brown fox jumps over the lazy dog
        h5 The quick brown fox jumps over the lazy dog
        h6 The quick brown fox jumps over the lazy dog
        p At every tiled on ye defer do. 
        |No attention suspected oh difficult. 
        | Fond his say old meet cold find come whom. 
        | The sir park sake bred. Wonder matter now can estate esteem assure fat roused. 
        | Am performed on existence as discourse is. Pleasure friendly at marriage blessing or. 

        p Now seven world think timed while her. 
        | Spoil large oh he rooms on since an. 
        | Am up unwilling eagerness perceived incommode. 
        | Are not windows set luckily musical hundred can. 
        | Collecting if sympathize middletons be of of reasonably. 
        | Horrible so kindness at thoughts exercise no weddings subjects. 
        | The mrs gay removed towards journey chapter females offered not. 
        | Led distrusts otherwise who may newspaper but. Last he dull am none he mile hold as. 